*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    overflow: hidden;
    font-family: verdana;
    text-align: center;
    background-color: rgb(8, 14, 12);
}
h1{
    margin: .5rem;
    font-family: sans-serif;
    color: rgb(215, 250, 241);
}
#board{
    max-height: 100vh;
    background-color: rgb(235, 251, 246);
}
.gameover{
    color: #f00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.footer{
    width: 100%;
    background-color: rgb(8, 14, 12);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 5px;
    font-size: 15px;
    pointer-events: none;
  }
